#gameBoard {
    background-color: steelblue;
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#headerBox {
    background-color: brown;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.cardContainer {
    display: flex;
}

.scores {
    padding: 10px;
}

.cards {
    background-image: url("./images/1283.jpg");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.cards:checked {
    background-color: pink;
    background-image: none;
}