#gameBoard {
    background-color: steelblue;
    /* height: 550px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headerBox {
    background-color: brown;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.cardContainer {
    display: flex;
}

.scores {
    padding: 10px;
}

.cards {
    /* background-image: url("./images/1283.jpg"); */
    background-color: chartreuse;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.cards-flipped {
    background-color: pink;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.cards-flipped.ID1 {
    background-image: url("./images/A.png");
}

.cards-flipped.ID2 { 
    background-image: url("./images/B.png");
}

.cards-flipped.ID3 { 
    background-image: url("./images/C.png");
}

.cards-flipped.ID4 { 
    background-image: url("./images/D.png");
}

.cards-flipped.ID5 { 
    background-image: url("./images/E.png");
}

.cards-flipped.ID6 { 
    background-image: url("./images/F.png");
}

.cards-flipped.ID7 { 
    background-image: url("./images/G.png");
}

.cards-flipped.ID8 { 
    background-image: url("./images/H.png");
}